{% trans_default_domain 'FOSUserBundle' %}

<div class="row">
    <div class="span9" style="margin-bottom:25px">
        <h2>Editer mes informations</h2>
        <div id="collapseOne" class="accordion-body collapse in">
            <div class="accordion-inner">
                <div class="span4">
                    <form action="{{ path('fos_user_profile_edit') }}" {{ form_enctype(form) }} method="POST">
                        {{ form_widget(form) }}
                        <input class="btn btn-primary" type="submit" value="{{ 'profile.edit.submit'|trans }}" />
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="span3">
        {% include 'modulesUsed/utilisateurConnecte.html.twig' %}
    </div>
</div>
