{% extends '::layout/layoutAdmin.html.twig' %}

{% block body -%}
<div class="container">
    <div class="row">
        <h2>Editer une page</h2>
        <div class="span9">
            <form action="{{ path("adminPages_edit", {'id': page.id }) }}" method="post">
            {{ form_widget(form) }}
            <button type="submit" class="btn btn-primary bouton">Modifier</button>
            </form>
        </div>
    </div>

    <div class="row">
        <ul class="record_actions">
            <li>
                <a href="{{ path('adminPages_index') }}">
                    Retour
                </a>
            </li>
            <li>
                <a href="{{ path('adminPages_delete', {'id': page.id} ) }}">
                    Supprimer
                </a>
            </li>
        </ul>
    </div>
</div>
{% endblock %}
