{% trans_default_domain 'FOSUserBundle' %}

<div class="row">


                <div class="col-lg-6 col-md-6 col-xs-12">
                    <h2>Inscription</h2>
                    <form action="{{ path('fos_user_registration_register') }}" {{ form_enctype(form) }} method="POST" class="fos_user_registration_register">
                        {{ form_widget(form) }}
                        <br />
                        <input class="btn btn-primary" type="submit" value="{{ 'registration.submit'|trans }}" />
                    </form>
                </div>
            

</div>
